* {
    padding: 0;
    margin: 0;
}
html,
body {
    height: 100%;
    font-family: "Multi", sans-serif;
    font-size: 16px;
   
}
hr{
   width: 50%;
   height: 2px;
   background-color: grey;
   margin-right: auto;
   margin-left: auto;
   margin-top: 3px;
   margin-bottom: 3px;
   border-width: 1px;
   border-color:black;
}

.content-blog {
   
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
   
}
.col-content-blog {
    margin: 0 5px;
    padding: 30px;
    background-color: white;
    width: 45%;
    float: left;
    text-align: center;
    color: black;
    height: 520px;
    
}