* {
    padding: 0;
    margin: 0;
}
html,
body {
    height: 100%;
    font-family: "Multi", sans-serif;
    font-size: 16px;
   
}
/*Collections*/
.khoi-collections {
    width: 100%;
    padding: 5px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    display: flex;
    text-align: center;
}

.khoi-collections .DisplayItem-collections:hover {
    transform: scale(1.2);
    transition: 1s;
}
.Clearfix-collections {
    clear: both;
}
.khoi-collections .DisplayItem-collections {
    width: 31.33333333%;
    margin: 0 1%;
    display: inline-block;
    position: relative;
}
.Khoi-collections .DisplayItem-collections img {
    height: 320px;
    width: 330px;
}

.khoi-collections .DisplayItem-collections .layer1 {
    width: 360px;
    height: 320px;
    position: absolute;
    top: 0;
    left: 19%;
    margin: 0 auto;
    z-index: 2;
    opacity: 0.4;
    background-image: -webkit-linear-gradient(left, white 0%, grey 50%, #e1cf6c 100%);
}

.exem-container {
    display: flex;
    background: #e8e8e8;
    padding: 4px;
}
.exem-element {
    background-color: #339966;
    margin: 1px;
    color: #339966;
    min-height: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
}