* {
    padding: 0;
    margin: 0;
}
html,
body {
    height: 100%;
    font-family: "Multi", sans-serif;
    font-size: 16px;
   
}
/*Hinh anh trung bay Header*/

*.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 48%;
    height: 100%;
}

/*Menu Size*/

.button{
    background-color: black;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px ;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
  
}
.button1{
    background-color: black; 
    color: white; 
    border: 2px solid gray
}
.button1:hover {
    background-color:gray;
    color: white;
}
.button2{
    background-color: black; 
    color: white; 
    border: 2px solid gray
}
.button2:hover {
    background-color:gray;
    color: white;
}
.button3{
    background-color: black; 
    color: white; 
    border: 2px solid gray
}
.button3:hover {
    background-color:gray;
    color: white;
}  
.button4{
    background-color: black; 
    color: white; 
    border: 2px solid gray
}
.button4:hover {
    background-color:gray;
    color: white;
}

/*PANTS*/
/*.f-grid-pants {
    display: flex;
    justify-content: space-between;
    margin-left: -1rem;
    flex-flow: row wrap;
    text-align: center;
}

.f-grid-col {
    flex: 1 0;
    background-color:white;
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
}*/

/* wrapper */
.wrapper {
    padding: 2rem;
  }
  
  .products ul {
    display: inline-block;
   
  }
  
  .products ul .main-product {
    margin-bottom: 2rem;
    margin-left: 5rem;
    display: block;
    float: left;
    width: 24%;
  }
  
.products ul .no-margin {
    margin-right: 0 ;
}
  
  .products ul .img-product img {
    width: 100%;
  }
  
  .content-product .content-product-h3 {
    padding: .5rem 0;
    overflow: hidden;
    color: #222;
    font-weight: 500;
    font-size: 16px;
    max-height: 50px;
    min-height: 50px;
    text-align: center;
    line-height: 19px;
    margin: 0 0 5px;
  }
  
  .content-product .content-product-deltals {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
  }
  
  .main-product .content-product .content-product-deltals .price {
    color: black;
    font-weight: 700;
    margin-right: 1rem;
    vertical-align: middle;
    font-size: 20px;
  }
  
  .content-product .content-product-deltals .price .money {
    vertical-align: middle;
  }
  
  .content-product .content-product-deltals .btn-cart {
    background: black;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
  }
  
  .content-product .content-product-deltals .btn-cart:hover {
    background: black;
  }
  

/*Hinh anh trung bay Footer */
.khoi-pants {
    width: 100%;
    padding: 5px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    display: flex;
    text-align: center;
}

.khoi-pants .DisplayItem-pants:hover {
    transform: scale(1.2);
    transition: 1s;
}
.Clearfix-pants {
    clear: both;
}
.khoi-pants .DisplayItem-pants {
    width: 31.33333333%;
    margin: 0 1%;
    display: inline-block;
    position: relative;
}
.Khoi-pants .DisplayItem-pants img {
    height: 320px;
    width: 330px;
}
/*.infortopSale {
    width: 200px;
    float: left;
}
*/

.khoi-pants .DisplayItem-pants .layer1 {
    width: 360px;
    height: 320px;
    position: absolute;
    top: 0;
    left: 19%;
    margin: 0 auto;
    z-index: 2;
    opacity: 0.4;
    background-image: -webkit-linear-gradient(left, white 0%, gray 50%, #e1cf6c 100%);
}